# 001 Preliminary Explorations
A series of queries to get acquainted with the data set.
1. Imports and display options
2. Basic set information
3. Frequency counts of columns
4. Break-out inquiries

## 1. Imports and display options

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Creating a path to the root directory for this project
path = r'C:\Users\theva\OneDrive\CareerFoundry\Data Immersion\A6\BRFSS'

Note: Orginal data obtained from CDC.gov on 12/14/2022. https://chronicdata.cdc.gov/Behavioral-Risk-Factors/Behavioral-Risk-Factor-Surveillance-System-BRFSS-P/dttw-5yxu

In [3]:
#Importing products.csv to df_prods
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Behavioral_Risk_Factor_Surveillance_System__BRFSS__Prevalence_Data__2011_to_present_.csv'))

C:\Users\theva\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
pd.set_option('display.max_rows', 200)

## 2. Basic set information

In [4]:
df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2012,GU,Guam,Demographics,Age,What is your age?,55-64 years,Overall,Overall,296,...,NaN,BRFSS,CLASS05,Topic02,66,BO1,CAT1,AGE,RESP014,"(13.444304, 144.793731)"
1,2012,GU,Guam,Demographics,Age,What is your age?,35-44 years,Female,Gender,272,...,NaN,BRFSS,CLASS05,Topic02,66,SEX2,CAT2,AGE,RESP012,"(13.444304, 144.793731)"
2,2020,AL,Alabama,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,College graduate,Education Attained,356,...,NaN,BRFSS,CLASS03,TOPIC17,1,EDUCA4,CAT5,ADDEPEV3,RESP046,"(32.84057112200048, -86.63186076199969)"
3,2020,AL,Alabama,Chronic Health Indicators,Diabetes,Have you ever been told by a doctor that you h...,"Yes, pregnancy-related","White, non-Hispanic",Race/Ethnicity,32,...,NaN,BRFSS,CLASS03,TOPIC18,1,RACE01,CAT4,DIABETE4,RESP051,"(32.84057112200048, -86.63186076199969)"
4,2020,AL,Alabama,Chronic Health Indicators,Diabetes,Have you ever been told by a doctor that you h...,"No, pre-diabetes or borderline diabetes",Overall,Overall,92,...,NaN,BRFSS,CLASS03,TOPIC18,1,BO1,CAT1,DIABETE4,RESP052,"(32.84057112200048, -86.63186076199969)"

In [52]:
df.tail()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2289897,2021,PR,Puerto Rico,Cholesterol Awareness,Cholesterol High,Adults who have had their blood cholesterol ch...,Yes,Female,Gender,"1,033",...,NaN,BRFSS,CLASS02,TOPIC12,72,SEX2,CAT2,_RFCHOL3,RESP046,"(18.220833, -66.590149)"
2289898,2021,VI,Virgin Islands,Demographics,Number of Children,How many children live in your household? (var...,Two children,18-24,Age Group,5,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC39,78,AGE01,CAT3,_CHLDCNT,RESP093,"(18.335765, -64.896335)"
2289899,2021,VI,Virgin Islands,Demographics,Number of Children,How many children live in your household? (var...,Five or more children,65+,Age Group,0,...,No responses for this data cell,BRFSS,CLASS05,TOPIC39,78,AGE09,CAT3,_CHLDCNT,RESP090,"(18.335765, -64.896335)"
2289900,2021,PR,Puerto Rico,Demographics,Income,What is your annual household income?,"$200,000+","Other, non-Hispanic",Race/Ethnicity,0,...,No responses for this data cell,BRFSS,CLASS05,TOPIC33,72,RACE06,CAT4,INCOME1,RESP232,"(18.220833, -66.590149)"
2289901,2021,VI,Virgin Islands,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,"$25,000-$34,999",Household Income,26,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS03,TOPIC17,78,INCOME03,CAT6,ADDEPEV3,RESP046,"(18.335765, -64.896335)"

In [22]:
df.shape

(2289902, 27)

In [5]:
df.columns

Index(['Year', 'Locationabbr', 'Locationdesc', 'Class', 'Topic', 'Question',
       'Response', 'Break_Out', 'Break_Out_Category', 'Sample_Size',
       'Data_value', 'Confidence_limit_Low', 'Confidence_limit_High',
       'Display_order', 'Data_value_unit', 'Data_value_type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'DataSource',
       'ClassId', 'TopicId', 'LocationID', 'BreakoutID', 'BreakOutCategoryID',
       'QuestionID', 'ResponseID', 'GeoLocation'],
      dtype='object')

## 3. Frequency counts of columns

In [13]:
df['Year'].value_counts().sort_index()

2011    145364
2012    148824
2013    202751
2014    194798
2015    230101
2016    229714
2017    235303
2018    217579
2019    223058
2020    220975
2021    241435
Name: Year, dtype: int64

In [45]:
df['Locationabbr'].value_counts().sort_index()

AK    43150
AL    43161
AR    43106
AZ    43122
CA    43178
CO    43169
CT    43099
DC    43120
DE    43147
FL    38626
GA    43168
GU    43081
HI    43167
IA    43155
ID    43104
IL    43150
IN    43167
KS    43179
KY    43171
LA    43171
MA    43180
MD    43125
ME    43134
MI    43176
MN    43177
MO    43164
MS    43125
MT    43131
NC    43174
ND    43081
NE    43183
NH    43080
NJ    38892
NM    43161
NV    43160
NY    43158
OH    43176
OK    43178
OR    43143
PA    43171
PR    42675
RI    43093
SC    43181
SD    43147
TN    43146
TX    43174
US     1792
UT    43173
UW     1792
VA    43168
VI     8804
VT    43056
WA    43124
WI    43149
WV    43132
WY    43136
Name: Locationabbr, dtype: int64

In [14]:
df['Locationdesc'].value_counts().sort_index()

Alabama                                       43161
Alaska                                        43150
All States and DC (median) **                  1792
All States, DC and Territories (median) **     1792
Arizona                                       43122
Arkansas                                      43106
California                                    43178
Colorado                                      43169
Connecticut                                   43099
Delaware                                      43147
District of Columbia                          43120
Florida                                       38626
Georgia                                       43168
Guam                                          43081
Hawaii                                        43167
Idaho                                         43104
Illinois                                      43150
Indiana                                       43167
Iowa                                          43155
Kansas                                        43179
Kentucky                                      43171
Louisiana                                     43171
Maine                                         43134
Maryland                                      43125
Massachusetts                                 43180
Michigan                                      43176
Minnesota                                     43177
Mississippi                                   43125
Missouri                                      43164
Montana                                       43131
Nebraska                                      43183
Nevada                                        43160
New Hampshire                                 43080
New Jersey                                    38892
New Mexico                                    43161
New York                                      43158
North Carolina                                43174
North Dakota                                  43081
Ohio                                          43176
Oklahoma                                      43178
Oregon                                        43143
Pennsylvania                                  43171
Puerto Rico                                   42675
Rhode Island                                  43093
South Carolina                                43181
South Dakota                                  43147
Tennessee                                     43146
Texas                                         43174
Utah                                          43173
Vermont                                       43056
Virgin Islands                                 8804
Virginia                                      43168
Washington                                    43124
West Virginia                                 43132
Wisconsin                                     43149
Wyoming                                       43136
Name: Locationdesc, dtype: int64

In [18]:
df['Class'].value_counts().sort_index()

Alcohol Consumption              87881
Cholesterol Awareness            47854
Chronic Health Indicators       460856
Colorectal Cancer Screening      44687
Days of Poor Health              25320
Demographics                    807571
E-Cigarette Use                  25632
Fruits and Vegetables            27284
HIV-AIDS                         24415
Health Care Access/Coverage     179418
Health Status                   102514
Hypertension Awareness           16084
Immunization                     64091
Injury                           35479
Oral Health                      37474
Overweight and Obesity (BMI)     58538
Physical Activity                68632
Prostate Cancer                  11932
Tobacco Use                     124422
Women's Health                   39818
Name: Class, dtype: int64

In [19]:
df['Topic'].value_counts().sort_index()

Aerobic Activity            13112
Age                         66881
Alcohol Consumption         29296
All Teeth Removed           11049
Arthritis                   86147
Asthma                      58587
BMI Categories              58538
Binge Drinking              29295
Blood Stool Test            19869
COPD                        29287
Cardiovascular Disease     104500
Cholesterol Checked         31770
Cholesterol High            16084
Colonoscopy                  4930
Current Smoker Status       29295
Dental Visit                13213
Depression                  29295
Diabetes                    58168
Disability status          147098
Drink and Drive             13137
E-Cigarette Use             25632
Education                   49259
Employment                 116940
Exercise                    29296
Fair or Poor Health         29297
Flu Shot                    24620
Fruit Consumption           13642
HIV Test                    24415
Health Care Cost            24413
Health Care Coverage        29293
Healthy Days                25320
Hearing                     16772
Heavy Drinking              29290
High Blood Pressure         16084
Income                      60357
Internet                    13215
Kidney                      29269
Last Checkup                60965
Mammogram                   25321
Marital Status              87757
Number of Children          87646
Other Cancer                29287
Overall Health              73217
PSA Test                    11932
Pap Test                    14497
Personal Care Provider      36620
Physical Activity Index     13112
Pneumonia Vaccination       24612
Race                        73437
Rent/Own Home               36619
Seatbelt Use                22342
Sex                         27176
Shingle Vaccination          4559
Sigmoidoscopy                9174
Skin Cancer                 29230
Smokeless Tobacco           36552
Smoker Status               58575
Strength Activity           13112
Teeth Removed               13212
Tetanus Shot                10300
USPSTF Recommendations      10714
Under 65 Coverage           28127
Vegetable Consumption       13642
Veteran Status              24414
Vision                       7086
Name: Topic, dtype: int64

In [20]:
df.groupby('Class')['Topic'].value_counts()

Class                         Topic
Alcohol Consumption           Alcohol Consumption         29296
                              Binge Drinking              29295
                              Heavy Drinking              29290
Cholesterol Awareness         Cholesterol Checked         31770
                              Cholesterol High            16084
Chronic Health Indicators     Cardiovascular Disease     104500
                              Arthritis                   86147
                              Asthma                      58587
                              Diabetes                    58168
                              Depression                  29295
                              COPD                        29287
                              Other Cancer                29287
                              Kidney                      29269
                              Skin Cancer                 29230
                              Vision                       7086
Colorectal Cancer Screening   Blood Stool Test            19869
                              USPSTF Recommendations      10714
                              Sigmoidoscopy                9174
                              Colonoscopy                  4930
Days of Poor Health           Healthy Days                25320
Demographics                  Disability status          147098
                              Employment                 116940
                              Marital Status              87757
                              Number of Children          87646
                              Race                        73437
                              Age                         66881
                              Income                      60357
                              Education                   49259
                              Rent/Own Home               36619
                              Sex                         27176
                              Veteran Status              24414
                              Hearing                     16772
                              Internet                    13215
E-Cigarette Use               E-Cigarette Use             25632
Fruits and Vegetables         Fruit Consumption           13642
                              Vegetable Consumption       13642
HIV-AIDS                      HIV Test                    24415
Health Care Access/Coverage   Last Checkup                60965
                              Personal Care Provider      36620
                              Health Care Coverage        29293
                              Under 65 Coverage           28127
                              Health Care Cost            24413
Health Status                 Overall Health              73217
                              Fair or Poor Health         29297
Hypertension Awareness        High Blood Pressure         16084
Immunization                  Flu Shot                    24620
                              Pneumonia Vaccination       24612
                              Tetanus Shot                10300
                              Shingle Vaccination          4559
Injury                        Seatbelt Use                22342
                              Drink and Drive             13137
Oral Health                   Dental Visit                13213
                              Teeth Removed               13212
                              All Teeth Removed           11049
Overweight and Obesity (BMI)  BMI Categories              58538
Physical Activity             Exercise                    29296
                              Aerobic Activity            13112
                              Physical Activity Index     13112
                              Strength Activity           13112
Prostate Cancer               PSA Test                    11932
Tobacco Use                   Smoker Status               58575
                              Smokeless Tobacco           36552
                              Current Smoker Status       29295
Women's Health                Mammogram                   25321
                              Pap Test                    14497
Name: Topic, dtype: int64

In [17]:
df['Question'].value_counts().sort_index()

About how long has it been since you last visited a doctor for a routine checkup?                                                                                                60965
Adults aged 18-64 who have any kind of health care coverage (variable calculated from one or more BRFSS questions)                                                               28127
Adults aged 50+ who have ever had a sigmoidoscopy or colonoscopy (variable calculated from one or more BRFSS questions)                                                           4244
Adults aged 50+ who have had a blood stool test within the past two years (variable calculated from one or more BRFSS questions)                                                  4232
Adults aged 50-75 who have had a blood stool test within the past year (variable calculated from one or more BRFSS questions)                                                    10707
Adults aged 65+ who have ever had a pneumonia vaccination (variable calculated from one or more BRFSS questions)                                                                 24612
Adults aged 65+ who have had a flu shot within the past year (variable calculated from one or more BRFSS questions)                                                              24620
Adults aged 65+ who have had all their natural teeth extracted (variable calculated from one or more BRFSS questions)                                                            11049
Adults that have had any permanent teeth extracted (variable calculated from one or more BRFSS questions)                                                                        13212
Adults who are current e-cigarette users (variable calculated from one or more BRFSS questions)                                                                                   2972
Adults who are current smokers (variable calculated from one or more BRFSS questions)                                                                                            29295
Adults who are limited in any activities because of physical, mental, or emotional problems                                                                                      12525
Adults who had some form of health insurance (variable calculated from one or more BRFSS questions)                                                                               2972
Adults who have been told they currently have asthma (variable calculated from one or more BRFSS questions)                                                                      29291
Adults who have been told they have arthritis (variable calculated from one or more BRFSS questions)                                                                             29297
Adults who have been told they have high blood pressure (variable calculated from one or more BRFSS questions)                                                                   16084
Adults who have ever been told they have asthma (variable calculated from one or more BRFSS questions)                                                                           29296
Adults who have ever had their blood cholesterol checked                                                                                                                          7644
Adults who have had at least one drink of alcohol within the past 30 days                                                                                                        29296
Adults who have had their blood cholesterol checked and have been told it was high (variable calculated from one or more BRFSS questions)                                        16084
Adults who have had their blood cholesterol checked within the last five years (variable calculated from one or more BRFSS questions)                                            24126
Adults who reported being deaf                                                                                                                                                   16772
Adults with health problem(s) that requires the use of special equipment                                                                                                         12519
Aged 50-75 had a blood stool test within the past 3 years                                                                                                                         4930
Aged 50-75 had a colonoscopy in the past 10 years                                                                                                                                 4930
Aged 50-75 had a sigmoidoscopy within the past 5 years                                                                                                                            4930
Always or nearly always wears a seat belt?                                                                                                                                       11092
Always wears a seat belt? (variable calculated from one or more BRFSS questions)                                                                                                 11250
Are you blind or do you have serious difficulty seeing, even when wearing glasses?                                                                                               24412
Are you now limited in any way in any of your usual activities because of arthritis? (variable calculated from one or more BRFSS questions)                                      20463
Binge drinkers (males having five or more drinks on one occasion, females having four or more drinks on one occasion) (variable calculated from one or more BRFSS questions)     29295
Consumed fruit less than one time per day (variable calculated from one or more BRFSS questions)                                                                                 13642
Consumed vegetables less than one time per day (variable calculated from one or more BRFSS questions)                                                                            13642
Current E-cigarette user                                                                                                                                                          5572
Days when mental health status not good (variable calculated from one or more BRFSS questions)                                                                                   12660
Days when physical health status not good (variable calculated from one or more BRFSS questions)                                                                                 12660
Do arthritis or joint symptoms now affect whether you work? (variable calculated from one or more BRFSS questions)                                                               20463
Do you currently use chewing tobacco, snuff, or snus?                                                                                                                            36552
Do you have any kind of health care coverage?                                                                                                                                    26321
Do you have difficulty doing errands alone?                                                                                                                                      24410
Do you have difficulty dressing or bathing?                                                                                                                                      24404
Do you have one person (or a group of doctors) that you think of as your personal health care provider?                                                                           4458
Do you have one person you think of as your personal doctor or health care provider?                                                                                             32162
Do you have serious difficulty concentrating, remembering, or making decisions?                                                                                                  24413
Do you have serious difficulty walking or climbing stairs?                                                                                                                       24415
Do you now use e-cigarettes or other electronic vaping products every day, some days, or not at all?                                                                              5944
Do you own or rent your home?                                                                                                                                                    36619
Does arthritis or joint symptoms interfere with your normal social activities? (variable calculated from one or more BRFSS questions)                                            15924
During the past month, did you participate in any physical activities? (variable calculated from one or more BRFSS questions)                                                    29296
E-cigarette use status                                                                                                                                                           11144
Ever told you had a heart attack (myocardial infarction)?                                                                                                                        29265
Ever told you had a stroke?                                                                                                                                                      29257
Ever told you had angina or coronary heart disease?                                                                                                                              29258
Ever told you had any other types of cancer?                                                                                                                                     29287
Ever told you had skin cancer?                                                                                                                                                   29230
Ever told you have COPD?                                                                                                                                                         29287
Ever told you have kidney disease?                                                                                                                                               29269
Ever told you have vision impairment?                                                                                                                                             7086
Ever told you that you have a form of depression?                                                                                                                                29295
Four Level Smoking Status (variable calculated from one or more BRFSS questions)                                                                                                 58575
Gender of respondent                                                                                                                                                             27176
Have you ever been tested for HIV?                                                                                                                                               24415
Have you ever been told by a doctor that you have diabetes?                                                                                                                      58168
Have you ever had the shingles or zoster vaccine?                                                                                                                                 4559
Have you ever served on active duty in the United States Armed Forces?                                                                                                           24414
Have you used the internet in the past 30 days?                                                                                                                                  13215
Health Status (variable calculated from one or more BRFSS questions)                                                                                                             29297
Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week) (variable calculated from one or more BRFSS questions)         19532
Heavy drinkers (adult men having more than two drinks per day and adult women having more than one drink per day) (variable calculated from one or more BRFSS questions)          9758
How is your general health?                                                                                                                                                      73217
How many children live in your household? (variable calculated from one or more BRFSS questions)                                                                                 87646
Men aged 40+ who have had a PSA test within the past two years (variable calculated from one or more BRFSS questions)                                                            11932
Participated in 150 minutes or more of Aerobic Physical Activity per week (variable calculated from one or more BRFSS questions)                                                 13112
Participated in enough Aerobic and Muscle Strengthening exercises to meet guidelines (variable calculated from one or more BRFSS questions)                                      13112
Participated in muscle strengthening exercises two or more times per week (variable calculated from one or more BRFSS questions)                                                  5468
Participated in muscle strengthening exercises two or more times per week (variable calculated from one or more BRFSS questions).                                                 7644
Respondents aged 50-75 who have fully met the USPSTF recommendation (variable calculated from one or more BRFSS questions)                                                       10714
Respondents that have ever reported having coronary heart disease (chd) or myocardial infarction (mi) (variable calculated from one or more BRFSS questions)                     16720
Respondents who have reported having driven after drinking too much (variable calculated from one or more BRFSS questions)                                                       13137
Since 2005, have you had a tetanus shot?                                                                                                                                         10300
Visited the dentist or dental clinic within the past year for any reason (variable calculated from one or more BRFSS questions)                                                  13213
Was there a time in the past 12 months when you needed to see a doctor but could not because of cost?                                                                            21441
Was there a time in the past 12 months when you needed to see a doctor but could not because you could not afford it?                                                             2972
Weight classification by Body Mass Index (BMI) (variable calculated from one or more BRFSS questions)                                                                            58538
What is the highest grade or year of school you completed?                                                                                                                       49259
What is your age?                                                                                                                                                                66881
What is your annual household income?                                                                                                                                            60357
What is your employment status?                                                                                                                                                 116940
What is your marital status?                                                                                                                                                     87757
What is your race/ethnicity?                                                                                                                                                     73437
Women aged 18+ who have had a pap test within the past three years (variable calculated from one or more BRFSS questions)                                                         4662
Women aged 21-65 who have had a pap test in the past three years (variable calculated from one or more BRFSS questions)                                                           9835
Women aged 40+ who have had a mammogram within the past two years (variable calculated from one or more BRFSS questions)                                                         11929
Women aged 50+ who have had a mammogram within the past two years (variable calculated from one or more BRFSS questions)                                                          4013
Women aged 50-74 who have had a mammogram within the past two years (variable calculated from one or more BRFSS questions)                                                        9379
Name: Question, dtype: int64

In [25]:
df['Response'].value_counts().sort_index()

$100,000 - 199,999                                                                                 1115
$15,000 - 24,999                                                                                  11626
$200,000+                                                                                          1115
$25,000 - 34,999                                                                                  11624
$35,000 -  49,999                                                                                 11625
$50,000 - 99,999                                                                                   1115
$50,000+                                                                                          10510
1-13 days when mental health not good                                                              4220
1-13 days when physical health not good                                                            4220
14+ days when mental health not good                                                               4220
14+ days when physical health not good                                                             4220
18-24 years                                                                                       11143
25-34 years                                                                                       11146
35-44 years                                                                                       11147
45-54 years                                                                                       11148
5 or more years ago                                                                               12203
55-64 years                                                                                       11150
65+ years                                                                                         11147
Always Wears a Seatbelt                                                                            5627
American Indian or Alaskan Native, non-Hispanic                                                    1062
American Indian or Alaskan native, non-Hispanic                                                    5736
Asian, non-Hispanic                                                                                6798
Black                                                                                              3794
Black, non-Hispanic                                                                                6798
Checked in past 5 years                                                                            8042
College+                                                                                          12316
Current E-cigarette user                                                                           4272
Current E-cigarette user - every day                                                               4272
Current E-cigarette user - some days                                                               4272
Did not meet USPSTF recommendations for testing                                                    3525
Did not receive a Pap test within the past 3 years                                                 4916
Did not receive a colonoscopy                                                                      2465
Did not receive a home FOBT                                                                        2465
Did not receive a mammogram within the past 2 years                                                4687
Did not receive a sigmoidoscopy                                                                    2465
Did not receive one or more of the recommended CRC tests within the recommended time interval      1221
Did not report having MI or CHD                                                                    8360
Divorced                                                                                          14645
Do not have some form of health insurance                                                          2919
Do not meet criteria for heavy drinking                                                            9766
Does Not Always Wear a Seatbelt                                                                    5623
Employed                                                                                          12208
Emplyd                                                                                             2440
Every day                                                                                         12166
Excellent                                                                                         14646
Fair                                                                                              14647
Fair or Poor Health                                                                               14648
Female                                                                                            13587
Five or more children                                                                             14482
Former E-cigarette user                                                                            4272
Former smoker                                                                                     14648
Four children                                                                                     14585
Good                                                                                              14648
Good or Better Health                                                                             14649
H.S. or G.E.D.                                                                                    12316
Had a blood stool test in the past year                                                            4738
Have arthritis and have limited work                                                               6821
Have arthritis and no limited work                                                                 6821
Have arthritis, have limited usual activities                                                      6821
Have arthritis, no limited usual activities                                                        6821
Have arthritis, social activities limited a little                                                 3981
Have arthritis, social activities limited a lot                                                    3981
Have arthritis, social activities not limited                                                      3981
Have driven after having too much to drink                                                         6531
Have never had a blood stool test                                                                  1221
Have never received any of the recommended CRC tests                                               1221
Have not driven after having too much to drink                                                     6606
Have not had a blood stool test in more than the past year                                         1221
Have not had a blood stool test in the past year                                                   3527
Have some form of health insurance                                                                 2919
Hispanic                                                                                          10622
Homemaker                                                                                         12198
Homemkr                                                                                            2434
Less than $15,000                                                                                 11627
Less than H.S.                                                                                    12312
Less than one time per day                                                                        13642
Male                                                                                              13589
Married                                                                                           14649
Meet criteria for heavy drinking                                                                   9766
Met USPSTF recommendations for testing                                                             3526
More than one                                                                                     12205
MultiRacial                                                                                        3791
MultiRacial, non-Hispanic                                                                          1062
Multiracial, non-Hispanic                                                                          5736
Native Hawaiian or other Pacific Islander, non-Hispanic                                            6798
Never                                                                                             12144
Never Checked                                                                                      8042
Never married                                                                                     14647
Never smoked                                                                                      14647
Never used E-cigarettes                                                                            4272
No                                                                                               518724
No work >yr                                                                                       14626
No work< yr                                                                                       14621
No, pre-diabetes or borderline diabetes                                                           14560
None                                                                                              14649
Normal Weight (BMI 18.5-24.9)                                                                     10482
Normal Weight (bmi 18.5-24.9)                                                                      4166
Not Checked in past 5 years                                                                        8042
Not at all                                                                                        12208
Not currently using E-cigarettes                                                                   4272
Not told they have arthritis                                                                      17623
Obese (BMI 30.0 - 99.8)                                                                           10482
Obese (bmi 30.0 - 99.8)                                                                            4166
One child                                                                                         14646
One or more times per day                                                                         13642
Other                                                                                             16026
Other race, non-Hispanic                                                                           6798
Overweight (BMI 25.0-29.9)                                                                        10481
Overweight (bmi 25.0-29.9)                                                                         4166
Own                                                                                               12208
Partnered                                                                                         14628
Poor                                                                                              14629
Received a Pap test within the past 3 years                                                        4919
Received a colonoscopy                                                                             2465
Received a home FOBT                                                                               2465
Received a mammogram within the past 2 years                                                       4692
Received a sigmoidoscopy                                                                           2465
Received one or more of the recommended CRC tests within the recommended time interval             1221
Rent                                                                                              12206
Reported having MI or CHD                                                                          8360
Respondent is blind                                                                                2205
Retired                                                                                           14537
Self emplyd                                                                                        2438
Self-employed                                                                                     12204
Separated                                                                                         14626
Smoke everyday                                                                                    14644
Smoke some days                                                                                   14636
Some days                                                                                         12178
Some post-H.S.                                                                                    12315
Student                                                                                           14592
Three children                                                                                    14638
Two children                                                                                      14646
Unable to work                                                                                    14642
Underweight (BMI 12.0-18.4)                                                                       10429
Underweight (bmi 12.0-18.4)                                                                        4166
Very good                                                                                         14647
White                                                                                              3823
White, non-Hispanic                                                                                6798
Widowed                                                                                           14562
Within the past 2 years                                                                           12206
Within the past 5 years                                                                           12204
Within the past year                                                                              12208
Yes                                                                                              503629
Yes, Tdap                                                                                          2575
Yes, not Tdap                                                                                      2575
Yes, not sure what type                                                                            2575
Yes, only one                                                                                     12208
Yes, pregnancy-related                                                                            14316
Zero days when mental health not good                                                              4220
Zero days when physical health not good                                                            4220
Name: Response, dtype: int64

In [26]:
df['Break_Out'].value_counts().sort_index()

$100,000-$199,999                                           8586
$15,000-$24,999                                            91932
$200,000+                                                   8586
$25,000-$34,999                                            91915
$35,000-$49,999                                            91909
$50,000+                                                   83342
$50,000-$99,999                                             8586
18-24                                                      83681
21-25                                                        106
21-30                                                        304
25-34                                                      83939
26-35                                                        106
31-40                                                        304
35-44                                                      84014
36-45                                                        106
40-49                                                       1064
41-50                                                        304
45-54                                                      84028
46-55                                                        106
50-59                                                       3938
51-60                                                        304
55-64                                                      84006
56-65                                                        106
60-64                                                       1912
60-69                                                       2026
61-65                                                        304
65+                                                        84705
65-74                                                       2864
70-74                                                        426
70-75                                                       1600
75+                                                         2864
American Indian or Alaskan Native, non-Hispanic            60405
Asian, non-Hispanic                                        60405
Black, non-Hispanic                                        90355
College graduate                                           92626
Female                                                     93685
H.S. or G.E.D.                                             92624
Hispanic                                                   90771
Less than $15,000                                          91928
Less than H.S.                                             92608
Male                                                       92840
Multiracial, non-Hispanic                                  90433
Native Hawaiian or other Pacific Islander, non-Hispanic    60405
Other, non-Hispanic                                        90769
Overall                                                    98544
Some post-H.S.                                             92622
White, non-Hispanic                                        90909
Name: Break_Out, dtype: int64

In [27]:
df['Break_Out_Category'].value_counts().sort_index()

Age Group             523117
Education Attained    370480
Gender                186525
Household Income      476784
Overall                98544
Race/Ethnicity        634452
Name: Break_Out_Category, dtype: int64

In [29]:
df['Sample_Size'].value_counts()

0         47741
1         38327
2         32285
3         28648
4         25961
          ...
13,962        1
13,436        1
14,779        1
8,923         1
11,558        1
Name: Sample_Size, Length: 14500, dtype: int64

In [30]:
df['Data_value'].value_counts().sort_index()

0.0        11
0.1        74
0.2       239
0.3       425
0.4       910
         ...
99.6     1414
99.7     1182
99.8     1325
99.9      861
100.0    2676
Name: Data_value, Length: 1001, dtype: int64

In [32]:
df['Confidence_limit_Low'].value_counts().sort_index()

0.0        50
0.1       477
0.2      1763
0.3      2855
0.4      4525
         ...
99.6      568
99.7      420
99.8      320
99.9      158
100.0    2492
Name: Confidence_limit_Low, Length: 1001, dtype: int64

In [33]:
df['Confidence_limit_High'].value_counts().sort_index()

0.0          6
0.1         24
0.2         77
0.3        150
0.4        255
         ...
99.6      2869
99.7      2526
99.8      3032
99.9      2834
100.0    26856
Name: Confidence_limit_High, Length: 1001, dtype: int64

In [37]:
df['Display_order'].value_counts().sort_index()

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
df['Data_value_unit'].value_counts().sort_index()

%    2289902
Name: Data_value_unit, dtype: int64

In [39]:
df['Data_value_type'].value_counts().sort_index()

Crude Prevalence    2289902
Name: Data_value_type, dtype: int64

In [40]:
df['Data_Value_Footnote_Symbol'].value_counts().sort_index()

*      376693
**      12245
***     35834
Name: Data_Value_Footnote_Symbol, dtype: int64

In [41]:
df['Data_Value_Footnote'].value_counts().sort_index()

** Median value reported with no confidence intervals.                                                                                                                                                        338
No responses for this data cell                                                                                                                                                                             39089
No responses for this data cell.                                                                                                                                                                             8652
Prevalence estimate not available if the unweighted sample size for the denominator was < 50 or the Relative Standard Error (RSE) is > 0.3 or if the state did not collect data for that calendar year.    376693
Name: Data_Value_Footnote, dtype: int64

In [42]:
df['DataSource'].value_counts().sort_index()

BRFSS    2289902
Name: DataSource, dtype: int64

In [43]:
df['ClassId'].value_counts().sort_index()

CLASS01     87881
CLASS02     47854
CLASS03    460856
CLASS04     44687
CLASS05    807571
CLASS06     27284
CLASS07    179418
CLASS08    102514
CLASS09     24415
CLASS10     16084
CLASS11     64091
CLASS12     35479
CLASS13     37474
CLASS14     58538
CLASS15     68632
CLASS16     11932
CLASS17    124422
CLASS18     39818
CLASS19     25632
CLASS20     25320
Name: ClassId, dtype: int64

In [44]:
df['TopicId'].value_counts().sort_index()

TOPIC01     13112
TOPIC02     45240
TOPIC03     19532
TOPIC04      7052
TOPIC05     64172
TOPIC06     39064
TOPIC07     19532
TOPIC08     13523
TOPIC09     39064
TOPIC10     75316
TOPIC11     19560
TOPIC12     11200
TOPIC14     19532
TOPIC15     19532
TOPIC16      8332
TOPIC17     19532
TOPIC18     39064
TOPIC19    103180
TOPIC20      8332
TOPIC21     33128
TOPIC22     78128
TOPIC23     19532
TOPIC24     19532
TOPIC26     16564
TOPIC27     11200
TOPIC28     19532
TOPIC29     19532
TOPIC30     19532
TOPIC31     11200
TOPIC32     19532
TOPIC33     41255
TOPIC34      8332
TOPIC35     19532
TOPIC36     48830
TOPIC37     15064
TOPIC38     58596
TOPIC39     58596
TOPIC40     19532
TOPIC41     48830
TOPIC42      7612
TOPIC43     29298
TOPIC45     13112
TOPIC46     16564
TOPIC47      7692
TOPIC48     54384
TOPIC49     29298
TOPIC50     13852
TOPIC51     18260
TOPIC52      4930
TOPIC53     19532
TOPIC54     29298
TOPIC55     39064
TOPIC56      8228
TOPIC57      8332
TOPIC58      5416
TOPIC59     18790
TOPIC60     11200
TOPIC61     19532
TOPIC63      2442
TOPIC64      8593
TOPIC67     25632
TOPIC68      4930
TOPIC70     16772
TOPIC71     25320
Topic02     21641
Topic03      9764
Topic04      3997
Topic05     21975
Topic06     19523
Topic07      9763
Topic08      6346
Topic09     19474
Topic10     29184
Topic11     12210
Topic12      4884
Topic14      9755
Topic15      9763
Topic16      4881
Topic17      9763
Topic18     19104
Topic19     43918
Topic20      4805
Topic21     16131
Topic22     38812
Topic23      9764
Topic24      9765
Topic26      8056
Topic27      2442
Topic28      4881
Topic29      9761
Topic30      9758
Topic31      4884
Topic32      4883
Topic33     19102
Topic34      4883
Topic35      9737
Topic36     12135
Topic37     10257
Topic38     29161
Topic39     29050
Topic40      9755
Topic41     24387
Topic42      6885
Topic43      7322
Topic46      8048
Topic47      4240
Topic48     19053
Topic49      7321
Topic50      8490
Topic51      8916
Topic52      4244
Topic53      9698
Topic54      7254
Topic55     19511
Topic56      4884
Topic57      4880
Topic58      4884
Topic59      9337
Topic60      2442
Topic61      4882
Topic62      7086
Topic63      2117
Topic64      2121
Name: TopicId, dtype: int64

In [46]:
df['LocationID'].value_counts().sort_index()

1     43161
2     43150
4     43122
5     43106
6     43178
8     43169
9     43099
10    43147
11    43120
12    38626
13    43168
15    43167
16    43104
17    43150
18    43167
19    43155
20    43179
21    43171
22    43171
23    43134
24    43125
25    43180
26    43176
27    43177
28    43125
29    43164
30    43131
31    43183
32    43160
33    43080
34    38892
35    43161
36    43158
37    43174
38    43081
39    43176
40    43178
41    43143
42    43171
44    43093
45    43181
46    43147
47    43146
48    43174
49    43173
50    43056
51    43168
53    43124
54    43132
55    43149
56    43136
66    43081
72    42675
78     8804
98     1792
99     1792
Name: LocationID, dtype: int64

In [47]:
df['BreakoutID'].value_counts().sort_index()

AGE01       83681
AGE02       83939
AGE03       84014
AGE04       84028
AGE05       84006
AGE06        1064
AGE07        3938
AGE08        1912
AGE09       84705
AGE10        2864
AGE11        2864
AGE12         304
AGE13         304
AGE14         304
AGE15         304
AGE16         304
AGE17        2026
AGE18         426
AGE19        1600
AGE20         106
AGE21         106
AGE22         106
AGE23         106
AGE24         106
BO1         98544
EDUCA1      92608
EDUCA2      92624
EDUCA3      92622
EDUCA4      92626
INCOME01     8586
INCOME02     8586
INCOME03     8586
INCOME04     8586
INCOME05     8586
INCOME06     8586
INCOME07     8586
INCOME1     83342
INCOME2     83346
INCOME3     83329
INCOME4     83323
INCOME5     83342
RACE01      60405
RACE02      60405
RACE03      60405
RACE04      60405
RACE05      60405
RACE06      60405
RACE07      60405
RACE08      60405
RACE1       30504
RACE2       29950
RACE3       30366
RACE4       30364
RACE5       30028
SEX1        92840
SEX2        93685
Name: BreakoutID, dtype: int64

In [48]:
df['BreakOutCategoryID'].value_counts().sort_index()

CAT1     98544
CAT2    186525
CAT3    523117
CAT4    634452
CAT5    370480
CAT6    476784
Name: BreakOutCategoryID, dtype: int64

In [49]:
df['QuestionID'].value_counts().sort_index()

ADDEPEV2    20855
ADDEPEV3     8440
AGE         66881
BLIND       24412
BLOODCHO     7644
CHCCOPD      2442
CHCCOPD1    18405
CHCCOPD2     5468
CHCCOPD3     2972
CHCKDNY1     2760
CHCKDNY2     8440
CHCKIDNY    18069
CHCOCNCR    29287
CHCSCNCR    29230
CHCVISN1     3423
CHCVISON     3663
CHECKUP1    60965
CVDCRHD4    29258
CVDINFR4    29265
CVDSTRK3    29257
DEAF        16772
DECIDE      24413
DIABETE3    41288
DIABETE4    16880
DIFFALON    24410
DIFFDRES    24404
DIFFWALK    24415
DRNKANY5    29296
ECIGNOW1     5944
EDUCA       49259
EMPLOY      19416
EMPLOY1     97524
GENHLTH     73217
HIVTST6     15975
HIVTST7      8440
HLTHPLN1    26321
INCOME      52552
INCOME1      7805
INTERNET    13215
MARITAL     87757
MEDCOST     21441
MEDCOST1     2972
PERSDOC2    32162
PERSDOC3     4458
QLACTLM2    12525
RACE        19053
RACE8       54384
RENTHOM1    36619
SEX         27176
SHINGLE2     4559
TETANUS      4884
TETANUS1     5416
USEEQUIP    12519
USENOW3     36552
VETERAN3    24414
_ALTETH2     6377
_ALTETH3     4672
_BMI5CAT    58538
_CASTHM1    29291
_CHLDCNT    87646
_CHOLCH1     4140
_CHOLCH2     4062
_CHOLCH3     4458
_CHOLCHK    11466
_COL10YR     4930
_CRCREC      7051
_CRCREC1     3663
_CURECI1     2972
_CURECIG     5572
_DENVST2     7693
_DENVST3     5520
_DRDXAR1    20857
_DRDXAR2     5468
_DRDXAR3     2972
_DRNKDRV    13137
_ECIGSTS    11144
_EXTETH2     7692
_EXTETH3     5520
_FLSHOT5     4030
_FLSHOT6    13414
_FLSHOT7     7176
_FOBTFS      4930
_FRTLT1      5202
_FRTLT1A     8440
_FS5YR       4930
_HCVU651    25261
_HCVU652     2866
_HLTHPLN     2972
_LMTACT1    11943
_LMTACT2     4062
_LMTACT3     4458
_LMTSCL1    15924
_LMTWRK1    11943
_LMTWRK2     4062
_LMTWRK3     4458
_LTASTH1    29296
_MAM5021     4495
_MAM5022     2442
_MAM5023     2442
_MAM502Y     4013
_MENT14D    12660
_MICHD      16720
_PAINDEX     2442
_PAINDX1     7962
_PAINDX2     2708
_PASTAE1     7962
_PASTAE2     2708
_PASTAER     2442
_PASTRNG    13112
_PHYS14D    12660
_PNEUMO2    15100
_PNEUMO3     9512
_RFBING5    29295
_RFBLDS2     4232
_RFBLDS3     7044
_RFBLDS4     3663
_RFCHOL      7644
_RFCHOL1     2760
_RFCHOL2     2708
_RFCHOL3     2972
_RFDRHV4     9758
_RFDRHV5     8332
_RFDRHV6     2760
_RFDRHV7     8440
_RFHLTH     29297
_RFHYPE5    13112
_RFHYPE6     2972
_RFMAM21     2548
_RFMAM22     2548
_RFMAM2Y     6833
_RFPAP32     4662
_RFPAP33     4527
_RFPAP34     2654
_RFPAP35     2654
_RFPSA21     6836
_RFPSA22     2548
_RFPSA23     2548
_RFSEAT2    11092
_RFSEAT3    11250
_RFSIGM2     4244
_RFSMOK3    29295
_SMOKER3    58575
_TOTINDA    29296
_VEGLT1      5202
_VEGLT1A     8440
Name: QuestionID, dtype: int64

In [50]:
df['ResponseID'].value_counts().sort_index()

RESP001     13589
RESP002     13587
RESP003     12208
RESP004     12206
RESP005      3823
RESP006      3794
RESP007     10622
RESP008      3791
RESP009     16026
RESP010     11143
RESP011     11146
RESP012     11147
RESP013     11148
RESP014     11150
RESP015     11147
RESP016     11627
RESP017     11626
RESP018     11624
RESP019     11625
RESP020     10510
RESP021     12312
RESP022     12316
RESP023     12315
RESP024     12316
RESP025      2440
RESP026      2438
RESP027     14621
RESP028     14626
RESP029      2434
RESP030     14592
RESP031     14537
RESP032     14642
RESP033     14649
RESP034     14645
RESP035     14562
RESP036     14626
RESP037     14647
RESP038     14628
RESP039     14648
RESP040     14647
RESP041     14648
RESP042     14595
RESP046    503629
RESP047      2575
RESP048      2575
RESP049      2575
RESP050     12208
RESP051     14316
RESP052     14560
RESP053     12205
RESP054    518724
RESP055      2205
RESP056     14646
RESP057     14647
RESP058     14648
RESP059     14647
RESP060     14629
RESP061     14649
RESP062     14648
RESP063     12208
RESP064     12206
RESP065     12204
RESP066     12203
RESP067     12144
RESP068     14644
RESP069     14636
RESP070     14648
RESP071     14647
RESP072      8042
RESP073      8042
RESP074      8042
RESP077     13642
RESP078     13642
RESP079     12166
RESP080     12178
RESP081     12208
RESP082      3981
RESP083      3981
RESP084      3981
RESP085      6821
RESP086      6821
RESP087      6821
RESP088      6821
RESP089     17623
RESP090     14482
RESP091     14585
RESP092     14638
RESP093     14646
RESP094     14646
RESP095     14649
RESP137     12208
RESP141     12198
RESP172     12204
RESP184      5627
RESP185      5623
RESP186      4692
RESP187      4687
RESP188      4919
RESP189      4916
RESP190      4738
RESP191      3527
RESP192      3526
RESP193      3525
RESP194      6798
RESP195      6798
RESP196      6798
RESP197      6798
RESP198      6798
RESP199      6798
RESP200      6798
RESP201      6531
RESP202      6606
RESP203      8360
RESP204      8360
RESP205      9766
RESP206      9766
RESP207      2465
RESP208      2465
RESP209      2465
RESP210      2465
RESP211      2465
RESP212      2465
RESP213      4272
RESP214      4272
RESP215      4272
RESP216      4272
RESP217      4272
RESP218      4272
RESP219      4220
RESP220      4220
RESP221      4220
RESP222      4220
RESP223      4220
RESP224      4220
RESP225      1221
RESP226      1221
RESP227      1221
RESP228      1221
RESP229      1221
RESP230      1115
RESP231      1115
RESP232      1115
RESP233      2919
RESP234      2919
Name: ResponseID, dtype: int64

In [51]:
df['GeoLocation'].value_counts().sort_index()

(13.444304, 144.793731)                      43081
(18.220833, -66.590149)                      42675
(18.335765, -64.896335)                       8804
(21.304850435, -157.857749403)               17385
(21.304850435000446, -157.85774940299973)    25782
(28.932040377, -81.928960539)                17393
(28.932040377000476, -81.92896053899966)     21233
(31.312660644, -92.445680071)                17389
(31.31266064400046, -92.44568007099969)      25782
(31.827240407, -99.426770206)                17392
(31.827240407000488, -99.42677020599967)     25782
(32.745510099, -89.538030825)                17343
(32.745510099000455, -89.53803082499968)     25782
(32.839681093, -83.627580346)                17386
(32.83968109300048, -83.62758034599966)      25782
(32.840571122, -86.631860762)                17379
(32.84057112200048, -86.63186076199969)      25782
(33.998821303, -81.045371207)                17399
(33.998821303000454, -81.04537120699968)     25782
(34.520880952, -106.240580985)               17379
(34.52088095200048, -106.24058098499967)     25782
(34.748650124, -92.274490743)                17374
(34.74865012400045, -92.27449074299966)      25732
(34.86597028, -111.763811277)                17390
(34.865970280000454, -111.76381127699972)    25732
(35.466220975, -79.159250463)                17392
(35.466220975000454, -79.15925046299964)     25782
(35.472031356, -97.521070214)                17396
(35.47203135600046, -97.52107021399968)      25782
(35.68094058, -85.774490914)                 17364
(35.68094058000048, -85.77449091399967)      25782
(37.542680674, -78.457890463)                17386
(37.54268067400045, -78.45789046299967)      25782
(37.638640123, -120.999999538)               17396
(37.63864012300047, -120.99999953799971)     25782
(37.645970271, -84.774971048)                17389
(37.645970271000465, -84.77497104799966)     25782
(38.3477403, -98.200781227)                  17397
(38.34774030000045, -98.20078122699965)      25782
(38.635790776, -92.566300053)                17382
(38.635790776000476, -92.56630005299968)     25782
(38.665510202, -80.712640135)                17350
(38.66551020200046, -80.71264013499967)      25782
(38.843840757, -106.133610921)               17387
(38.843840757000464, -106.13361092099967)    25782
(38.890371385, -77.031961127)                17338
(38.89037138500049, -77.03196112699965)      25782
(39.008830667, -75.577741168)                17365
(39.008830667000495, -75.57774116799965)     25782
(39.290580964, -76.609260111)                17393
(39.29058096400047, -76.60926011099963)      25732
(39.360700171, -111.587130635)               17391
(39.360700171000474, -111.58713063499971)    25782
(39.49324039, -117.071840564)                17378
(39.493240390000494, -117.07184056399967)    25782
(39.766910452, -86.149960194)                17385
(39.766910452000445, -86.14996019399968)     25782
(40.060210141, -82.404260056)                17394
(40.06021014100048, -82.40426005599966)      25782
(40.130570048, -74.273691288)                17393
(40.13057004800049, -74.27369128799967)      21499
(40.485010283, -88.997710178)                17368
(40.48501028300046, -88.99771017799969)      25782
(40.793730152, -77.860700294)                17389
(40.79373015200048, -77.86070029399963)      25782
(41.56266102, -72.649840952)                 17367
(41.56266102000046, -72.64984095199964)      25732
(41.6410409880005, -99.36572062299967)       25782
(41.641040988001, -99.365720623)             17401
(41.708280193, -71.522470314)                17361
(41.70828019300046, -71.52247031399963)      25732
(42.27687047, -72.082690675)                 17398
(42.27687047000046, -72.08269067499964)      25782
(42.469400913, -93.816490556)                17373
(42.46940091300047, -93.81649055599968)      25782
(42.827001032, -75.543970427)                17376
(42.82700103200045, -75.54397042699964)      25782
(43.235541343, -108.109830353)               17354
(43.23554134300048, -108.10983035299967)     25782
(43.625381239, -72.517640791)                17324
(43.62538123900049, -72.51764079099962)      25732
(43.655950113, -71.50036092)                 17348
(43.65595011300047, -71.50036091999965)      25732
(43.682630005, -114.363730042)               17322
(43.682630005000476, -114.3637300419997)     25782
(44.353130053, -100.373530637)               17365
(44.353130053000484, -100.3735306369997)     25782
(44.393191174, -89.816370742)                17367
(44.39319117400049, -89.81637074199966)      25782
(44.567449424, -120.155031326)               17361
(44.56744942400047, -120.15503132599969)     25782
(44.6613195430005, -84.71439026999968)       25782
(44.661319543001, -84.71439027)              17394
(45.254228894000505, -68.98503133599962)     25782
(45.254228894001, -68.985031336)             17352
(46.355648736, -94.794200503)                17395
(46.35564873600049, -94.79420050299967)      25782
(47.066528972, -109.424420645)               17349
(47.06652897200047, -109.42442064499971)     25782
(47.475319779, -100.118421049)               17299
(47.47531977900047, -100.11842104899966)     25782
(47.522278629, -120.47001079)                17392
(47.52227862900048, -120.47001078999972)     25732
(64.84507995700051, -147.72205903599973)     25782
(64.845079957001, -147.722059036)            17368
Name: GeoLocation, dtype: int64

## 4. Break-out inquiries

#### sub1: ResponseID = RESP010

In [62]:
#Creating a limited group to expore the nature of the break-out variable
#sub1 is records from Ak, 2021, AGE question, RESP010
sub1 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'AK') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP010')]

In [64]:
#Examining sub1
sub1.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2052063,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Female,Gender,121,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX2,CAT2,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2052653,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,College graduate,Education Attained,31,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA4,CAT5,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2052690,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,4,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE05,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2052763,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$200,000+",Household Income,7,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,INCOME07,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2053620,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Asian, non-Hispanic",Race/Ethnicity,16,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE04,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2053627,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$50,000-$99,999",Household Income,47,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME05,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2055288,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Overall,Overall,303,...,NaN,BRFSS,CLASS05,TOPIC02,2,BO1,CAT1,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2055963,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Less than $15,000",Household Income,14,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME01,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2056466,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Other, non-Hispanic",Race/Ethnicity,4,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE06,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2056996,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$35,000-$49,999",Household Income,28,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME04,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2057883,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,45,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE03,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2058575,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Multiracial, non-Hispanic",Race/Ethnicity,33,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE07,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2058645,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Less than H.S.,Education Attained,23,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA1,CAT5,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2059339,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$15,000-$24,999",Household Income,22,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME02,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2061284,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"Black, non-Hispanic",Race/Ethnicity,6,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE02,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2061429,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Hispanic,Race/Ethnicity,17,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE08,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2062567,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Male,Gender,182,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX1,CAT2,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2063785,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,H.S. or G.E.D.,Education Attained,173,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA2,CAT5,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2063951,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$25,000-$34,999",Household Income,50,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME03,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2064445,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,Some post-H.S.,Education Attained,75,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA3,CAT5,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2064537,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"White, non-Hispanic",Race/Ethnicity,178,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE01,CAT4,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"
2065478,2021,AK,Alaska,Demographics,Age,What is your age?,18-24 years,"$100,000-$199,999",Household Income,32,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME06,CAT6,AGE,RESP010,"(64.84507995700051, -147.72205903599973)"

In [70]:
#Breakout frequency count
sub1['Break_Out'].value_counts().sort_index()

$100,000-$199,999                                          1
$15,000-$24,999                                            1
$200,000+                                                  1
$25,000-$34,999                                            1
$35,000-$49,999                                            1
$50,000-$99,999                                            1
American Indian or Alaskan Native, non-Hispanic            1
Asian, non-Hispanic                                        1
Black, non-Hispanic                                        1
College graduate                                           1
Female                                                     1
H.S. or G.E.D.                                             1
Hispanic                                                   1
Less than $15,000                                          1
Less than H.S.                                             1
Male                                                       1
Multiracial, non-Hispanic                                  1
Native Hawaiian or other Pacific Islander, non-Hispanic    1
Other, non-Hispanic                                        1
Overall                                                    1
Some post-H.S.                                             1
White, non-Hispanic                                        1
Name: Break_Out, dtype: int64

In [71]:
#BreakOutCategoryID frequency count
sub1['Break_Out_Category'].value_counts().sort_index()

Education Attained    4
Gender                2
Household Income      7
Overall               1
Race/Ethnicity        8
Name: Break_Out_Category, dtype: int64

In [83]:
sub1.groupby('Break_Out_Category')['Sample_Size'].value_counts()

Break_Out_Category  Sample_Size
Education Attained  173            1
                    23             1
                    31             1
                    75             1
Gender              121            1
                    182            1
Household Income    14             1
                    22             1
                    28             1
                    32             1
                    47             1
                    50             1
                    7              1
Overall             303            1
Race/Ethnicity      4              2
                    16             1
                    17             1
                    178            1
                    33             1
                    45             1
                    6              1
Name: Sample_Size, dtype: int64

In [90]:
sub1.Sample_Size = sub1.Sample_Size.astype(int)

C:\Users\theva\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [91]:
sub1.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    302
Gender                303
Household Income      200
Overall               303
Race/Ethnicity        303
Name: Sample_Size, dtype: int32

#### sub2: ResponseID = RESP011

In [98]:
#Creating a limited group to expore the nature of the break-out variable
#sub2 is records from Ak, 2021, AGE question, RESP011
sub2 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'AK') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP011')]

In [99]:
sub2.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2051865,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,93,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE03,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2052901,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Female,Gender,318,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX2,CAT2,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2053061,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,College graduate,Education Attained,252,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA4,CAT5,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2053970,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$35,000-$49,999",Household Income,81,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME04,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2054607,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Hispanic,Race/Ethnicity,47,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE08,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2055560,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Asian, non-Hispanic",Race/Ethnicity,23,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE04,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2055731,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Overall,Overall,670,...,NaN,BRFSS,CLASS05,TOPIC02,2,BO1,CAT1,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2056284,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$100,000-$199,999",Household Income,94,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME06,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2057389,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$25,000-$34,999",Household Income,64,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME03,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2058030,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Multiracial, non-Hispanic",Race/Ethnicity,62,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE07,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2058285,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Some post-H.S.,Education Attained,181,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA3,CAT5,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2058648,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Less than H.S.,Education Attained,25,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA1,CAT5,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2059376,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,8,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE05,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2060117,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$200,000+",Household Income,22,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME07,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2060754,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$15,000-$24,999",Household Income,35,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME02,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2061689,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,H.S. or G.E.D.,Education Attained,209,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA2,CAT5,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2061894,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"White, non-Hispanic",Race/Ethnicity,419,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE01,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2062337,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Other, non-Hispanic",Race/Ethnicity,10,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE06,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2063230,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Less than $15,000",Household Income,33,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME01,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2063851,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,Male,Gender,352,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX1,CAT2,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2064084,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"$50,000-$99,999",Household Income,221,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME05,CAT6,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"
2065676,2021,AK,Alaska,Demographics,Age,What is your age?,25-34 years,"Black, non-Hispanic",Race/Ethnicity,8,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE02,CAT4,AGE,RESP011,"(64.84507995700051, -147.72205903599973)"

In [101]:
sub2.Sample_Size = sub2.Sample_Size.astype(int)

C:\Users\theva\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [102]:
sub2.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    667
Gender                670
Household Income      550
Overall               670
Race/Ethnicity        670
Name: Sample_Size, dtype: int32

#### sub3: ResponseID = RESP012

In [103]:
#Creating a limited group to expore the nature of the break-out variable
#sub2 is records from Ak, 2021, AGE question, RESP011
sub3 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'AK') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP012')]

In [104]:
sub3.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2052542,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,106,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE03,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2053009,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,College graduate,Education Attained,340,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA4,CAT5,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2053172,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$50,000-$99,999",Household Income,237,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME05,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2053431,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Multiracial, non-Hispanic",Race/Ethnicity,61,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE07,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2053677,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Some post-H.S.,Education Attained,240,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA3,CAT5,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2053959,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Less than $15,000",Household Income,29,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME01,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2054500,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Male,Gender,376,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX1,CAT2,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2054974,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$100,000-$199,999",Household Income,195,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME06,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2055802,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Black, non-Hispanic",Race/Ethnicity,19,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE02,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2057068,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,H.S. or G.E.D.,Education Attained,169,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA2,CAT5,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2057819,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$15,000-$24,999",Household Income,40,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME02,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2058364,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Female,Gender,403,...,NaN,BRFSS,CLASS05,TOPIC02,2,SEX2,CAT2,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2058585,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Other, non-Hispanic",Race/Ethnicity,15,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE06,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2059001,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$200,000+",Household Income,47,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME07,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2059807,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$25,000-$34,999",Household Income,61,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME03,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2060511,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Less than H.S.,Education Attained,27,...,NaN,BRFSS,CLASS05,TOPIC02,2,EDUCA1,CAT5,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2061144,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,9,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,2,RACE05,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2061985,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"White, non-Hispanic",Race/Ethnicity,515,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE01,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2062837,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"$35,000-$49,999",Household Income,57,...,NaN,BRFSS,CLASS05,TOPIC02,2,INCOME04,CAT6,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2063457,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,"Asian, non-Hispanic",Race/Ethnicity,21,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE04,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2064401,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Hispanic,Race/Ethnicity,33,...,NaN,BRFSS,CLASS05,TOPIC02,2,RACE08,CAT4,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"
2064649,2021,AK,Alaska,Demographics,Age,What is your age?,35-44 years,Overall,Overall,779,...,NaN,BRFSS,CLASS05,TOPIC02,2,BO1,CAT1,AGE,RESP012,"(64.84507995700051, -147.72205903599973)"

In [105]:
sub3.Sample_Size = sub3.Sample_Size.astype(int)

C:\Users\theva\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [106]:
sub3.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    776
Gender                779
Household Income      666
Overall               779
Race/Ethnicity        779
Name: Sample_Size, dtype: int32

### Repeating process with a different state

#### sub1: ResponseID = RESP010

In [108]:
#Creating a limited group to expore the nature of the break-out variable
#sub1 is records from Ak, 2021, AGE question, RESP010
sub1 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'CA') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP010')]

In [109]:
#Examining sub1
sub1.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2065988,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Male,Gender,364,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX1,CAT2,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2066866,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Less than $15,000",Household Income,78,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME01,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2067663,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Other, non-Hispanic",Race/Ethnicity,12,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE06,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2069284,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Black, non-Hispanic",Race/Ethnicity,23,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE02,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2069509,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,6,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE03,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2069571,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$50,000-$99,999",Household Income,108,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME05,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2071129,2021,CA,California,Demographics,Age,What is your age?,18-24 years,College graduate,Education Attained,138,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA4,CAT5,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2071235,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Hispanic,Race/Ethnicity,271,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE08,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2072332,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$100,000-$199,999",Household Income,85,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME06,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2073855,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$35,000-$49,999",Household Income,65,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME04,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2074530,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Some post-H.S.,Education Attained,207,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA3,CAT5,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2074648,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Multiracial, non-Hispanic",Race/Ethnicity,32,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE07,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2075282,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$200,000+",Household Income,26,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME07,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2075519,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$25,000-$34,999",Household Income,74,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME03,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2075635,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Overall,Overall,628,...,NaN,BRFSS,CLASS05,TOPIC02,6,BO1,CAT1,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2076171,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Asian, non-Hispanic",Race/Ethnicity,91,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE04,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2077985,2021,CA,California,Demographics,Age,What is your age?,18-24 years,H.S. or G.E.D.,Education Attained,242,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA2,CAT5,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2078030,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Female,Gender,264,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX2,CAT2,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2078528,2021,CA,California,Demographics,Age,What is your age?,18-24 years,Less than H.S.,Education Attained,38,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA1,CAT5,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2078872,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"$15,000-$24,999",Household Income,83,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME02,CAT6,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2079052,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,5,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE05,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"
2079856,2021,CA,California,Demographics,Age,What is your age?,18-24 years,"White, non-Hispanic",Race/Ethnicity,188,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE01,CAT4,AGE,RESP010,"(37.63864012300047, -120.99999953799971)"

In [110]:
#Breakout frequency count
sub1['Break_Out'].value_counts().sort_index()

$100,000-$199,999                                          1
$15,000-$24,999                                            1
$200,000+                                                  1
$25,000-$34,999                                            1
$35,000-$49,999                                            1
$50,000-$99,999                                            1
American Indian or Alaskan Native, non-Hispanic            1
Asian, non-Hispanic                                        1
Black, non-Hispanic                                        1
College graduate                                           1
Female                                                     1
H.S. or G.E.D.                                             1
Hispanic                                                   1
Less than $15,000                                          1
Less than H.S.                                             1
Male                                                       1
Multiracial, non-Hispanic                                  1
Native Hawaiian or other Pacific Islander, non-Hispanic    1
Other, non-Hispanic                                        1
Overall                                                    1
Some post-H.S.                                             1
White, non-Hispanic                                        1
Name: Break_Out, dtype: int64

In [111]:
#BreakOutCategoryID frequency count
sub1['Break_Out_Category'].value_counts().sort_index()

Education Attained    4
Gender                2
Household Income      7
Overall               1
Race/Ethnicity        8
Name: Break_Out_Category, dtype: int64

In [112]:
sub1.groupby('Break_Out_Category')['Sample_Size'].value_counts()

Break_Out_Category  Sample_Size
Education Attained  138            1
                    207            1
                    242            1
                    38             1
Gender              264            1
                    364            1
Household Income    108            1
                    26             1
                    65             1
                    74             1
                    78             1
                    83             1
                    85             1
Overall             628            1
Race/Ethnicity      12             1
                    188            1
                    23             1
                    271            1
                    32             1
                    5              1
                    6              1
                    91             1
Name: Sample_Size, dtype: int64

In [133]:
sub1.Sample_Size = sub1.Sample_Size.astype(int)

C:\Users\theva\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [114]:
sub1.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    625
Gender                628
Household Income      519
Overall               628
Race/Ethnicity        628
Name: Sample_Size, dtype: int32

#### sub2: ResponseID = RESP011

In [115]:
#Creating a limited group to expore the nature of the break-out variable
#sub2 is records from Ak, 2021, AGE question, RESP011
sub2 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'CA') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP011')]

In [116]:
sub2.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2065945,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$35,000-$49,999",Household Income,102,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME04,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2066218,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Some post-H.S.,Education Attained,245,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA3,CAT5,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2067398,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Asian, non-Hispanic",Race/Ethnicity,155,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE04,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2068579,2021,CA,California,Demographics,Age,What is your age?,25-34 years,H.S. or G.E.D.,Education Attained,196,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA2,CAT5,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2069756,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$50,000-$99,999",Household Income,276,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME05,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2069876,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,5,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE03,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2069989,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Hispanic,Race/Ethnicity,425,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE08,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2072058,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Less than H.S.,Education Attained,111,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA1,CAT5,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2072459,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Less than $15,000",Household Income,115,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME01,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2072632,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Male,Gender,605,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX1,CAT2,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2072684,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Multiracial, non-Hispanic",Race/Ethnicity,44,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE07,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2074023,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Black, non-Hispanic",Race/Ethnicity,59,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE02,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2074580,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$100,000-$199,999",Household Income,193,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME06,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2075171,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Other, non-Hispanic",Race/Ethnicity,14,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE06,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2075428,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$15,000-$24,999",Household Income,93,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME02,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2075475,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Overall,Overall,"1,096",...,NaN,BRFSS,CLASS05,TOPIC02,6,BO1,CAT1,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2076078,2021,CA,California,Demographics,Age,What is your age?,25-34 years,Female,Gender,491,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX2,CAT2,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2076332,2021,CA,California,Demographics,Age,What is your age?,25-34 years,College graduate,Education Attained,541,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA4,CAT5,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2077682,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"White, non-Hispanic",Race/Ethnicity,392,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE01,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2078560,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,2,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE05,CAT4,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2079286,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$200,000+",Household Income,67,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME07,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"
2080185,2021,CA,California,Demographics,Age,What is your age?,25-34 years,"$25,000-$34,999",Household Income,102,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME03,CAT6,AGE,RESP011,"(37.63864012300047, -120.99999953799971)"

In [128]:
#Converting comma-separated number objects into integers
# 1. Convert into a string type
sub2.Sample_Size = sub2.Sample_Size.astype(str)

# 2. Use lambda function to remove comma, then turn into an integer
sub2['Sample_Size'] = sub2['Sample_Size'].apply(lambda x: int(str(x).replace(',', '')))

C:\Users\theva\AppData\Local\Temp\ipykernel_2364\4262966908.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub2['Sample_Size'] = sub2['Sample_Size'].apply(lambda x: int(str(x).replace(',', '')))

In [129]:
sub2.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    1093
Gender                1096
Household Income       948
Overall               1096
Race/Ethnicity        1096
Name: Sample_Size, dtype: int64

#### sub3: ResponseID = RESP012

In [134]:
#Creating a limited group to expore the nature of the break-out variable
#sub2 is records from Ak, 2021, AGE question, RESP011
sub3 = df.loc[(df['Year'] == 2021) & (df['Locationabbr']== 'CA') & (df['QuestionID'] == 'AGE') & (df['ResponseID'] == 'RESP012')]

In [135]:
sub3.head(30)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
2066251,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$35,000-$49,999",Household Income,97,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME04,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2067113,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Multiracial, non-Hispanic",Race/Ethnicity,39,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE07,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2068213,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Less than $15,000",Household Income,111,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME01,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2069001,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"White, non-Hispanic",Race/Ethnicity,335,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE01,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2069162,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Less than H.S.,Education Attained,220,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA1,CAT5,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2069826,2021,CA,California,Demographics,Age,What is your age?,35-44 years,H.S. or G.E.D.,Education Attained,159,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA2,CAT5,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2070579,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Hispanic,Race/Ethnicity,491,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE08,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2071088,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$25,000-$34,999",Household Income,80,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME03,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2071493,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Asian, non-Hispanic",Race/Ethnicity,133,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE04,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2071942,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$200,000+",Household Income,147,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME07,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2073052,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Male,Gender,563,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX1,CAT2,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2073278,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Some post-H.S.,Education Attained,175,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA3,CAT5,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2074015,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$15,000-$24,999",Household Income,104,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME02,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2074919,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$100,000-$199,999",Household Income,228,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME06,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2075999,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,11,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE03,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2076022,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Native Hawaiian or other Pacific Islander, non...",Race/Ethnicity,9,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS05,TOPIC02,6,RACE05,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2076952,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"$50,000-$99,999",Household Income,186,...,NaN,BRFSS,CLASS05,TOPIC02,6,INCOME05,CAT6,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2077417,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Female,Gender,520,...,NaN,BRFSS,CLASS05,TOPIC02,6,SEX2,CAT2,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2078457,2021,CA,California,Demographics,Age,What is your age?,35-44 years,College graduate,Education Attained,525,...,NaN,BRFSS,CLASS05,TOPIC02,6,EDUCA4,CAT5,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2079411,2021,CA,California,Demographics,Age,What is your age?,35-44 years,Overall,Overall,"1,083",...,NaN,BRFSS,CLASS05,TOPIC02,6,BO1,CAT1,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2079717,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Black, non-Hispanic",Race/Ethnicity,49,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE02,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"
2080293,2021,CA,California,Demographics,Age,What is your age?,35-44 years,"Other, non-Hispanic",Race/Ethnicity,16,...,NaN,BRFSS,CLASS05,TOPIC02,6,RACE06,CAT4,AGE,RESP012,"(37.63864012300047, -120.99999953799971)"

In [138]:
#Converting comma-separated number objects into integers
# 1. Convert into a string type
sub3.Sample_Size = sub3.Sample_Size.astype(str)

# 2. Use lambda function to remove comma, then turn into an integer
sub3['Sample_Size'] = sub3['Sample_Size'].apply(lambda x: int(str(x).replace(',', '')))

C:\Users\theva\AppData\Local\Temp\ipykernel_2364\3445644922.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub3['Sample_Size'] = sub3['Sample_Size'].apply(lambda x: int(str(x).replace(',', '')))

In [139]:
sub3.groupby('Break_Out_Category')['Sample_Size'].sum()

Break_Out_Category
Education Attained    1079
Gender                1083
Household Income       953
Overall               1083
Race/Ethnicity        1083
Name: Sample_Size, dtype: int64

#### Final test

Conculsion: Each Break_Out_Category has multiple Break_Outs within it, except Overall which just contains itself. The aggregated Sample_Size of Break_Outs_Categories add up to the same as Overall. Education Attained comes out slightly less and Household Income comes out significantly less.</br>

The Break_Out_Categories are likely just subgroups for classification purposes and Overall represents the whole for each Question.